<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8"> 
  <title>Cook Lists</title>
  <meta name="discription" content="買い物メモを取り、料理投稿できるアプリケーション">

 <!-- CSS -->
  <link href="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
  <link href="css/style.css" rel="stylesheet">
</head>

<body>
 <div id="home" class="big-bg">
  <header class="page-header wrapper">
    <h1>Cook Lists</h1>
    <nav>
        <%# ナビゲーションメニュー %>
      <ul class="main-nav">
        <li><a href="news.html">新規登録</a></li>
        <li><a href="news.html">投稿</a></li>
        <li><a href="news.html">投稿一覧</a></li>
        <%# #htmlの先を後ほど指定する↑ %>
      </ul>
  </header>

  <div class="home-content wrapper">
  <h2 class="page-title">Looking forword to your cooking<h2>
  <p>作った料理を投稿しよう</p>
  <a class="button" href="menu.html">MEMO</a>
  </div>
 </div>
</body>
</html>