/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #f6e826;
  margin-bottom: 48px;
  padding: 20px 0;
  height: 100px;
}

.photo_title {
}

.more_list {
  display: flex;
}