/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}

/* ヘッダー */

.header {
  background-color: #f6e826;
  margin-bottom: 48px;
  padding: 20px 0;

}
.inner {
  width: 1024px;
  margin: 0 auto;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 200px;
}
.nav__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #ffffff;
  text-decoration: none;
  user-select: none;
  border: 1px #ffffff solid;
  border-radius: 3px;
  transition: 0.4s ease;
}
.nav__btn:hover{
  color: #fff;
  background: #000000;
}

.nav__logout{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #ffffff;
  border: 1px #ffffff solid;
  border-radius: 3px;
  text-decoration: none;
  user-select: none;
  
  
}
.nav__logout:hover{
  opacity: 0.5;
  background: #000000;
}

.contents-form{
  width: 600px;
}

.lists-form{
  width: 100%;
  height: 500px;
  background-color: rgb(214, 214, 214);
  font-size: xx-large;
  border: 1px rgb(214, 214, 214);
  margin: 0 auto 40px;
}

.memo {
  width: 900px;
  height: 500px;
  background-color: rgb(91, 241, 209);
  font-size: large;
}

.contents {
  display: flex;
}

/* フォーム周り */
.form__wrapper{
  min-height: calc(100vh - 161px);
}

.form__text {
  width: 50%;
}

.field{
  margin: 10px 0;
}

.actions{
  margin-bottom: 40px;
}

.form__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #87CEFA;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}

.form__btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

/* フッター */

.footer {
  background-color: rgb(189, 185, 185);
  padding: 10px 0;
}
.copyright {
  text-align: center;
  color: #fff;
  font-size: 10px;
}

}